---
import Layout from "@/Layout.astro";
---

<Layout title="404 - bromine" desc="bromine's 404 page">
  <div class="logo-wrapper left-margin">
    <h1>Someone has a skill issue</h1>
    <h2>Possible reasons this is broken</h2>
    <ul>
      <li>your stupid and got the wrong url</li>
      <li>niti sucks</li>
    </ul>
    <p>
      If the answer is niti sucks, i have a fix for you. Press <kbd>Ctrl</kbd
      > + <kbd>Shift</kbd> + <kbd>R</kbd>. That's it!
    </p>
    <button onclick="history.back()">go back</button>
  </div>
  <script
    async="async"
    data-cfasync="false"
    src="//learningbuildingroughly.com/b113e1888ef757be96cdcc722c0f31c8/invoke.js"
  ></script>
  <div id="container-b113e1888ef757be96cdcc722c0f31c8"></div>
</Layout>
