---
import Layout from "@/Layout.astro";

---

<Layout title="bromine">
<script id="aclib" type="text/javascript" src="//acscdn.com/script/aclib.js"></script>

<div>
    <script type="text/javascript">
        aclib.runBanner({
            zoneId: '10862874',
        });
    </script>
</div>


</Layout>
